h1 {
  color: #4378A7;
  text-align: center
}

h3{
  color: #FFFFFF;
  text-align: center
}

a{
  text-decoration: none;
  text-align: center;
}

div{
  text-align: center;
  border: 2px solid #357DA3;
  width: 250px;
  background-color: #D3D3D3
}
