// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  color: #4378A7;
  text-align: center
}

h3{
  color: #FFFFFF;
  text-align: center
}

a{
  text-decoration: none;
  text-align: center;
}

div{
  text-align: center;
  border: 2px solid #357DA3;
  width: 250px;
  background-color: #D3D3D3;
  margin-bottom: 10px
}

.aa{
  text-align: center;
  margin-top: 10px
}
